<form id="contact-form" class="max-w-sm mx-auto">
    
  <img class="rounded-full w-96 h-96" src="https://cdn.discordapp.com/attachments/1109599667953618955/1315497858618753055/foto_byron.png?ex=6757a05a&is=67564eda&hm=7e316f0fcf30b0efaa99a788669a24f3626e3e96d2ef1f506c4731c09e698bab&" alt="image description">
  <!--Separador-->
  <div class="flex items-center justify-center mt-5 mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
    <div class="w-4 h-4 bg-gray-300 rounded-full mx-3"></div>
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
    </div>
  <h1 class="text-3xl font-semibold text-gray-900 lg:text-4xl dark:text-white">¡Hola! Soy Byron Letelier Muriel</h1>
  <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">estudiante de tercer año de Ingeniería Civil en Computación e Informática. Actualmente, soy ayudante en los cursos de Programación y Ciencia de Datos. En los últimos meses, he desarrollado un interés particular en el área de ciberseguridad, y mi objetivo es contribuir al respaldo y la protección de los datos empresariales.</p>

  <div class="flex items-center justify-center mt-5 mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
    <div class="w-4 h-4 bg-gray-300 rounded-full mx-3"></div>
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Mi meta profesional es especializarme en el área de ciberseguridad, colaborando con grandes empresas para garantizar la protección de sus datos. A futuro, aspiro a emprender y gestionar mi propio negocio, aplicando mi experiencia y conocimientos en esta disciplina como también otras que vaya desarrollando en el mundo de la informática.
  </p>

  <div class="flex items-center justify-center mt-5 mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
    <div class="w-4 h-4 bg-gray-300 rounded-full mx-3"></div>
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Me destaco por mi habilidad para resolver problemas de manera efectiva, mi capacidad de trabajar en equipo y mi enfoque en la eficiencia y la colaboración en entornos dinámicos.</p>

  <div class="flex items-center justify-center mt-5 mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
    <div class="w-4 h-4 bg-gray-300 rounded-full mx-3"></div>
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  <!-- Proyectos destacados -->

  <h2 class="text-2xl font-semibold text-gray-900 lg:text-3xl dark:text-white">Proyectos destacados</h2>
  <div class="grid grid-cols-1 gap-5 mt-5 lg:grid-cols-2">
    <div class="p-5 bg-gray-50 rounded-lg dark:bg-gray-800">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Selene</h3>
      <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Ganador del GOTA, del año 2022</p>
      <a href="https://github.com/xPrismatico/Selene-2D" target="_blank" rel="noopener noreferrer" class="text-sm font-medium text-blue-500 dark:text-blue-400">Ver proyecto</a>
    </div>
    <div class="p-5 bg-gray-50 rounded-lg dark:bg-gray-800">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Selene: Vuelta a casa</h3>
      <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Ganador del GOTA, del año 2023</p>
      <a href="https://github.com/Team-xe/Proyecto-PIPA" target="_blank" rel="noopener noreferrer" class="text-sm font-medium text-blue-500 dark:text-blue-400">Ver proyecto</a>
    </div>
    <div class="p-5 bg-gray-50 rounded-lg dark:bg-gray-800">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Analisis de whisky</h3>
      <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Analisis de reviews para determinar un whisky</p>
      <a href="https://colab.research.google.com/drive/1SlCKi-l1LB-L644Ov_PfHcF9ITBh1-P_?authuser=1" target="_blank" rel="noopener noreferrer" class="text-sm font-medium text-blue-500 dark:text-blue-400">Ver proyecto</a>
    </div>
    <div class="p-5 bg-gray-50 rounded-lg dark:bg-gray-800">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Analisis de whisky</h3>
      <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Mediante webscrapping se realizo un analisis con varios hiperparametros</p>
      <a href="https://colab.research.google.com/drive/1eQ55Eb78RJ03ktWw_7jkqvhs1EwDE4F5?authuser=1" target="_blank" rel="noopener noreferrer" class="text-sm font-medium text-blue-500 dark:text-blue-400">Ver proyecto</a>
    </div>
  </div>

  <div class="flex items-center justify-center mt-5 mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
    <div class="w-4 h-4 bg-gray-300 rounded-full mx-3"></div>
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  
  <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Si deseas contactarme para colaborar en un proyecto, compartir ideas o simplemente saludar, no dudes en escribirme. Estoy disponible para responder tus consultas y comentarios.</p>
  <a href="https://www.linkedin.com/in/byron-syd-letelier-muriel-830126329/" target="_blank" rel="noopener noreferrer" 
   class="inline-flex items-center justify-center p-5 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
  <svg class="w-5 h-5 me-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M22.23 0H1.77C.79 0 0 .77 0 1.72v20.56C0 23.23.79 24 1.77 24h20.46c.98 0 1.77-.77 1.77-1.72V1.72C24 .77 23.21 0 22.23 0zm-14.46 20.45H4.54V9.03h3.23v11.42zm-1.61-13.07c-1.03 0-1.86-.85-1.86-1.88 0-1.03.83-1.87 1.86-1.87s1.86.84 1.86 1.87c0 1.03-.83 1.88-1.86 1.88zM20.45 20.45h-3.23v-5.57c0-1.33-.03-3.04-1.85-3.04-1.86 0-2.14 1.45-2.14 2.94v5.68h-3.23V9.03h3.1v1.55h.04c.43-.83 1.48-1.71 3.04-1.71 3.25 0 3.85 2.14 3.85 4.92v6.66z"/>
  </svg>
  <span class="w-full">LinkedIn</span>
  </a>

  <a href="https://github.com/bemoremore" target="_blank" rel="noopener noreferrer" 
   class="inline-flex items-center justify-center p-5 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
  <svg class="w-5 h-5 me-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M12 2C6.48 2 2 6.48 2 12c0 4.42 2.87 8.167 6.84 9.49.5.09.68-.22.68-.49v-1.71c-2.78.61-3.36-1.35-3.36-1.35-.45-1.14-1.11-1.45-1.11-1.45-.91-.63.07-.62.07-.62 1.01.07 1.55 1.04 1.55 1.04.89 1.54 2.34 1.1 2.91.84.09-.64.35-1.1.63-1.36-2.22-.25-4.55-1.11-4.55-4.93 0-1.09.39-1.98 1.02-2.68-.1-.25-.45-1.27.1-2.64 0 0 .84-.27 2.75 1.02.8-.22 1.66-.33 2.52-.33s1.72.11 2.52.33c1.91-1.29 2.75-1.02 2.75-1.02.55 1.37.2 2.39.1 2.64.63.7 1.02 1.59 1.02 2.68 0 3.83-2.33 4.68-4.55 4.93.36.31.69.92.69 1.85v2.74c0 .27.18.58.69.49C19.13 20.167 22 16.42 22 12c0-5.52-4.48-10-10-10z"/>
  </svg>
  <span class="w-full">GitHub</span>
  </a>

  <!-- Formulario de contacto -->
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tu email</label>
    <input
      type="email"
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="tuemail@dominio.com"
      required
    />
  </div>
  <div class="mb-5">
    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Razón del contacto</label>
    <textarea
      id="message"
      rows="4"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Escribe tu razón..."
      required
    ></textarea>
  </div>
  <button
    type="submit"
    class="bg-blue-500 text-white text-sm font-medium rounded-lg p-2.5 w-full focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 focus:ring-offset-gray-50 dark:bg-blue-500 dark:text-white dark:focus:ring-blue-500"
  >
    Enviar
  </button>
</form>

